
body .login-content {
	width: 400px;
	margin: auto;
}

.login-content .center-text {
	text-align: center;
}

.login-content .bt-lg {
	width: 100%;
}

.login-content .bt-qr {
	width: 100%;
}

body .qr-content {
	width: 400px;
	margin: auto;
}

header .header {
	background-color: #ee3d42;
    color: #fff;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
}

body .main-content {
	margin-top: 20px;
}

.qr-content .qr-header .btn-return {

}

.qr-content .webcam-inside {
 	margin: auto;
 	text-align: center;
}

.qr-content .webcam-decode {
 	margin: auto;
 	text-align: center;
}