<div class="login-content">
    <form class="form-horizontal">
        <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" ng-model="email" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="doLogin()" class="btn btn-default bt-lg">Log in to Dashboard</button>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div>Don't have account yet? Sign up for free</div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="center-text">OR</div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="#/qr">
                    <button class="btn btn-default bt-qr">QR Login</button>
                </a>
            </div>
        </div>
    </form>
</div>