<div ng-controller="QRController">
	<div class="qr-content">
		<div class="qr-header">
			<a href="#/login">
                <button class="btn btn-default btn-return">return</button>
            </a>
		</div>
		<br>


	    <div class="webcam-inside">
			<div id="webcam">
			</div>
		</div>
		<div class="webcam-decode">
			<p><button class="btn btn-small" id="btn1" onclick="$('#decoded').text($.scriptcam.getBarCode());">Decode image</button></p>
		</div>
		<div>
			<p id="decoded"></p>
		</div>
	</div>
</div>